<section class="place-block">
  <h2 class="place">Місце проведення церемонії і таймінги</h2>
  <ul class="place-list">
    <li class="place-item">
      <p class="place-item-time">10:00</p>
      <svg
        class="place-item-svg"
        width="24"
        height="24"
        aria-label="icon-signature"
      >
        <use href="../public/sprite.svg"></use>
      </svg>
      <p class="place-item-place">Розпис у РАГСІ</p>
    </li>
    <li class="place-item">
      <p class="place-item-time">11:00</p>
      <svg
        class="place-item-svg"
        width="24"
        height="24"
        aria-label="icon-speaker"
      >
        <use href="../img/sprite.svg#icon-speaker"></use>
      </svg>
      <p class="place-item-place">Весільна промова</p>
    </li>
    <li class="place-item">
      <p class="place-item-time">14:00</p>
      <svg class="place-item-svg" width="24" height="24" aria-label="icon-pin">
        <use href="../public/sprite.svg#icon-pin"></use>
      </svg>
      <p class="place-item-place">Збір гостей у ресторані</p>
    </li>
    <li class="place-item">
      <p class="place-item-time">15:00</p>
      <svg
        class="place-item-svg"
        width="24"
        height="24"
        aria-label="icon-champagne-glass"
      >
        <use href="../img/sprite.svg#icon-champagne-glass"></use>
      </svg>
      <p class="place-item-place">Початок святкування</p>
    </li>
  </ul>
</section>
