<section class="place-block">
  <h2 class="place-title">Таймінг</h2>
  <div class="place-text-block">
    <ul class="place-time-list">
      <li class="place-time-item">10:00</li>
      <li class="place-time-item">11:00</li>
      <li class="place-time-item">14:00</li>
      <li class="place-time-item">15:00</li>
    </ul>

    <ul class="place-svg-list">
      <li class="place-svg-item">
        <svg
          class="place-item-svg"
          width="32"
          height="32"
          aria-label="icon-signature"
        >
          <use href="/src/img/sprite.svg#icon-signature"></use>
        </svg>
      </li>
      <li class="place-svg-item">
        <svg
          class="place-item-svg"
          width="32"
          height="32"
          aria-label="icon-speaker"
        >
          <use href="../img/sprite.svg#icon-speaker"></use>
        </svg>
      </li>
      <li class="place-svg-item">
        <svg
          class="place-item-svg"
          width="32"
          height="32"
          aria-label="icon-pin"
        >
          <use href="../img/sprite.svg#icon-pin"></use>
        </svg>
      </li>
      <li class="place-svg-item">
        <svg
          class="place-item-svg"
          width="32"
          height="32"
          aria-label="icon-party"
        >
          <use href="../img/sprite.svg#icon-party"></use>
        </svg>
      </li>
    </ul>

    <ul class="place-place-list">
      <li class="place-place-item">Розпис у РАГСІ</li>
      <li class="place-place-item">Весільна промова</li>
      <li class="place-place-item">Збір гостей</li>
      <li class="place-place-item">Святкування</li>
    </ul>
  </div>
</section>
