<section class="place-block">
  <ul class="place-list">
    <li class="place-item">
      <h2 class="place-item-title">Адреса церемонії</h2>

      <p class="place-item-text">
        1-й провулок Курсовий, 4 Зал Царства Свідків Єгови 2-й поверх
      </p>

      <a
        class="place-item-link"
        href="https://maps.app.goo.gl/X3m64cH9jQR4Dpjv9"
        target="_blank"
        >Подивитися на карті</a
      >
    </li>
    <li class="place-item">
      <h2 class="place-item-title">Адреса ресторану</h2>

      <p class="place-item-text">
        вул. Сквирське шосе, парк "Олександрія", ресторан "Сад Мур"
      </p>

      <a
        class="place-item-link"
        href="https://maps.app.goo.gl/6aXENq3HGj1FLJJd9"
        target="_blank"
        >Подивитися на карті</a
      >
    </li>
  </ul>
</section>
