<section class="timing-block">
  <h2 class="timing-title">Таймінг</h2>
  <div class="timing-text-block">
    <ul class="timing-time-list">
      <li class="timing-time-item">10:00</li>
      <li class="timing-time-item">11:00</li>
      <li class="timing-time-item">14:00</li>
      <li class="timing-time-item">15:00</li>
    </ul>

    <ul class="timing-svg-list">
      <li class="timing-svg-item">
        <svg
          class="timing-item-svg"
          width="32"
          height="32"
          aria-label="icon-signature"
        >
          <use href="./img/sprite.svg#icon-signature"></use>
        </svg>
      </li>
      <li class="timing-svg-item">
        <svg
          class="timing-item-svg"
          width="32"
          height="32"
          aria-label="icon-speaker"
        >
          <use href="./img/sprite.svg#icon-speaker"></use>
        </svg>
      </li>
      <li class="timing-svg-item">
        <svg
          class="timing-item-svg"
          width="32"
          height="32"
          aria-label="icon-pin"
        >
          <use href="./img/sprite.svg#icon-pin"></use>
        </svg>
      </li>
      <li class="timing-svg-item">
        <svg
          class="timing-item-svg"
          width="32"
          height="32"
          aria-label="icon-party"
        >
          <use href="./img/sprite.svg#icon-party"></use>
        </svg>
      </li>
    </ul>

    <ul class="timing-place-list">
      <li class="timing-place-item">Розпис у РАГСІ</li>
      <li class="timing-place-item">Весільна промова</li>
      <li class="timing-place-item">Збір гостей</li>
      <li class="timing-place-item">Святкування</li>
    </ul>
  </div>
</section>
