<section class="wish-block">
  <h2 class="wish-title">Побажання</h2>

  <ul class="wish-list">
    <li class="wish-item">
      Ми здогадуємося, що після отримання запрошення у вас можуть з’явитися
      деякі питання.
    </li>
    <li class="wish-item">
      <span class="wish-item-span">Квіти:</span> <br />
      Будь ласка, не даруйте нам квіти, тому що ми не встигнемо
      насолодитися їх красою до від’їзду у весільну подорож.
    </li>
    <li class="wish-item">
      <span class="wish-item-span">Що подарувати?</span> <br />
      Як подарунок ми будемо раді вкладу в бюджет нашої сім’ї. Але також у нас є
      невеличкий wish list, за який відповідає наш друг Бондаренко Діма. Можете
      звернутися до нього за допомогою <span class="wish-item-number"> (068 697 53 73) </span>.
    </li>
    <li class="wish-item">
      <span class="wish-item-span">Дрес-код:</span> <br />
      Для нас головне - ваша присутність! Але якщо ви бажаєте дотримуватись
      дрес-коду, то оберіть одяг якогось пастельного світлого кольору. І не
      забудьте взяти з собою на вечір верхній одяг, адже може бути прохолодно.
    </li>
  </ul>
</section>
