.hero {
  padding-top: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hero-title {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  max-width: 335px;
  text-align: center;
}
