.place-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.place-title {
  color: var(--primary-color);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  max-width: 335px;
  text-align: center;
  align-items: center;
}

.place-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-item {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.place-item-title {
}

.place-item-text {
}
