/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./hero.css');
@import url('./date.css');
@import url('./guests.css');
@import url('./timing.css');
@import url('./place.css');
@import url('./footer.css');

:root {
  --primary-color: #4a6c4f;
  --white: #fcf9f9;
  --text-color: #000;
}

@media (max-width: 768px) {
  body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    background-image: url(../img/fon2.png);
    /* background-clip: border-box, border-box; */
    background-attachment: fixed, fixed;
    background-color: #2f2f2f;
    background-repeat: no-repeat;
    /* background-origin: padding-box, padding-box; */
    /* background-position-x: 50%, 50%; */
    /* background-position-y: 50%, 50%; */
    background-size: cover;
    /* object-fit: cover; */
    /* box-sizing: border-box; */
    /* max-width: 500px; */
    margin: 0 auto;
    background-position: center;
  }
}

section {
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  section {
    padding: 75px 0;
  }
  .container {
    padding: 0 100px;
    max-width: 1280px;
  }
}
